input[type="search"] {
  height: 63px !important; /* or height of nav */
}

h2, h3, h4, h5, h6, h7, h8 {
  font-family: 'Heebo', sans-serif;}

body {
  background-image: url('./assets/bg2.jpeg')
}



#public-page {
  margin-top: 10px;
}

#front-title {
  text-align: center;
  margin-top: 55px;
}

#front-title2 {
  text-align: center;
  margin-top: 55px;
}

#public-page2 {
  background-color: white;
  padding-top:-50px;
  padding:30px;
  opacity : 0.6;
  border-radius: 5%;
  width:400px;
  height:300px;
}

#public-page input {
  border-radius: 5%;
  padding-left:7px;
  padding-right: -20px;
}

#registration-page2 {
  background-color: white;
  padding-top:-50px;
  padding:30px;
  opacity : 0.6;
  border-radius: 5%;
  width:400px;
  height:430px;
}

#member-public h7 {
  padding:-100px;
  margin-left:-220px;
  text-align: center;
  color: black;
}

#google-login {
  padding:-100px;
  margin-left: 290px;
}

#login-button {
  padding:-10000px;
  margin-left: 300px;
}

#account-public h7 {
  padding:-100px;
  margin-left:280px;
  text-align: center;
  color: black;
}

#google-login2 {
  padding:-100px;
  margin-left: 290px;
}



.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

.card {
  opacity: 0.8;

}

.card p span {
  opacity: 1;
}

@media only screen and (max-width : 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width : 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width : 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}


